:root {
  --background: #101827;
  --main: #1d283c;
  --accent: #2869ff;
  --white: #ffffff;
  --red: #800E13;
  --width: 1000px;
}

body {
  background-color: var(--background);
  color: var(--white);
  font-family: sans-serif;
  margin: 0;
  padding: 0 20px;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  max-width: var(--width);
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.actionButton {
  background-color: var(--accent);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid var(--white);
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: transform .1s;
}

.actionButton:hover {
  transform: translateY(-2px);
  filter: brightness(1.2);
}

.deleteBtn {
  background-color: var(--red);
}

/* Book page */
.book {
  display: flex;
  gap: 15px;
  font-size: 18px;
}

.book img {
  width: 300px;
}

.book .right>div {
  margin: 20px 0;
}

.book h1 {
  margin: 0;
}

.book .author a {
  text-decoration: underline;
}

.book .buttons a {
  display: inline-block;
}

.book .genres {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
}

.book .genres a {
  background-color: var(--main);
  padding: 5px 10px;
}

.book .info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  text-align: center;
}

.book .info .entry {
  border: 2px solid var(--main);
  padding: 5px;
}

.book .info .entry :first-child {
  opacity: 0.8;
  font-size: 0.8em;
}

.book .description {
  font-size: 16px;
}

/* Book list view */
.bookGrid {
  display: flex;
  flex-direction: column;
}

.bookGrid .gridHeader {
  border: none;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.bookGrid .gridHeader:hover {
  background-color: transparent;
}

.bookRow {
  display: grid;
  grid-template-columns: 0.5fr 5fr 2fr 1fr 1fr 1fr;
  gap: 5px;
  padding: 2px 0;
  align-items: center;
  border-top: solid 1px var(--main);
}

.bookRow:hover {
  background-color: var(--main);
}

.bookGrid .bookRow:last-of-type {
  border-bottom: solid 1px var(--main);
}

.bookRow>a:not(:first-child) {
  width: fit-content;
}

.bookRow :nth-last-child(-n+3) {
  justify-self: center;
}

.bookCover {
  width: 100%;
  aspect-ratio: 2/3;
  line-height: 0;
}

.bookCover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pageNavigation {
  display: flex;
  gap: 20px;
  align-items: center;
  font-weight: bold;
  margin: 30px auto;
}

.pageNavigation .button {
  padding: 5px 15px;
  border: 2px solid var(--accent);
  border-radius: 50px;
}

.pageNavigation .number {
  padding: 5px;
  border-radius: 5px;
}

.pageNavigation .number.active {
  color: var(--accent);
  border-bottom: 2px solid;
}

.pageNavigation .button:hover,
.pageNavigation .number:hover {
  background-color: var(--accent);
  color: var(--white)
}

.pageNavigation .disabled {
  filter: brightness(0.5);
}

/* Authors view */
.authorList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.authorList li {
  padding: 10px 20px;
  background-color: var(--main);
  border-radius: 5px;
}

.authorList a {
  font-size: 18px;
  font-weight: bold;
}

/* Author page */
.authorBooks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
}

.authorBooks li {
  background-color: var(--main);
  border-radius: 5px;
  overflow: hidden;
}

.authorBooks li:hover {
  box-shadow: 0 0 15px rgb(255, 255, 255, 0.2)
}

.authorBooks .info {
  margin: 5px 10px;
  font-size: 14px;
}

.authorBooks .info :first-child {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Nav Bar */
nav {
  display: flex;
  margin: 15px auto;
  max-width: var(--width);
  justify-content: space-evenly;
  font-size: 20px;
  font-weight: bold;
}

nav a {
  text-decoration: underline;

}

/* error page */
.error-page {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
}

.error-page a {
  text-decoration: underline;
}

/* genres page */
.genrePage {
  max-width: var(--width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.genrePage ol {
  margin: 0;
  padding: 0;
}

.genrePage li {
  margin-bottom: 10px;
}

.genrePage li form {
  display: flex;
  align-items: center;
  gap: 8px;
}

.genrePage .actionButton {
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
}

.genrePage input {
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 10px;
}

.genrePage label {
  display: block;
  font-size: 28px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
}

/* edit|new book */
.editBook {
  max-width: var(--width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editBook form {
  width: 90%;
}

.editBook .formElement {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.editBook .formElement input {
  padding: 3px 8px;
  font-size: 18px;
}

.editBook .formElement>label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2px;
}

.editBook textarea {
  resize: vertical;
}

.editBook .genres {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

.editBook .actionButton {
  font-size: 24px;
}

.editBook label.error {
  color: red;
  font-size: 16px;
  font-weight: normal;
}

#booksFilter {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  justify-content: end;
  margin: 10px 0;
}
