.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board {
    display: grid;
    grid-template: repeat(3, 200px) / repeat(3, 200px);
    grid-gap: 10px;
}

.board .cell {
    height: 100%;
}

.winner {
    background-color: green;
}
