:root {
    --accent: #173e7f;
    --valid-input: green;
    --error-input: #BA3431;
    --focus-input: #3053DB;
}

:root.dark {
    --font-color: #c3ccdc;
    --content-bg: #011627;
    --banner-bg: #01213c;
    --default-input: #5f7284;
    --placeholder-color:#7b818b;
    --shadow: #00080f 0 0 9px;
    --theme-color: --font-color;
}

:root.light {
    --font-color: #323a48;
    --content-bg: #f9fafb;
    --banner-bg: white;
    --default-input: #E5E7EB;
    --placeholder-color: #767676;
    --shadow: #ccc 0 0 9px;
    --theme-color: white;
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Secular One;
    src: url("SecularOne-Regular.ttf");
}

main {
    display: flex;
    font-family: 'Roboto', sans-serif;
}

a {
    color: inherit;
}

/* side bar */
.side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    height: 100vh;
    background: url("background.jpg") 60% 15%;
    color: white;
    z-index: 1;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    font-family: Secular One;
    font-size: 2rem;
}

.logo-container > img {
    margin-right: 10px;
    width: 64px;
}

.side > p {
    text-align: center;
    opacity: 50%;
    margin-bottom: 3px;
}

/* Content structure */
.padding {
    padding-left: 50px;
    padding-right: 50px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--content-bg);
    color: var(--font-color);
}

.content a {
    color: var(--accent);
    font-weight: bold;
    text-decoration: none;
}

span.spacer:first-child {
    flex: 1 1 40%;
}

span.spacer:last-child {
    flex: 1 1 60%;
}

/* Info message */
.info-container {
    max-width: 950px;
    font-size: 2rem;
    font-weight: 600;
}

.info-container > p:last-child {
    margin-top: 25px;
    margin-bottom: 60px;
}

/* Form */
.form-banner {
    padding-top: 25px;
    padding-bottom: 30px;
    background-color: var(--banner-bg);
    box-shadow: var(--shadow);
}

.form-banner > h2 {
    margin-bottom: 25px;
    font-size: 1.7rem;
}

.inputs-container {
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 50px;
}

.inputs-container > div {
    position: relative;
}

.inputs-container label,
.inputs-container input {
    font-size: 1.1rem;
}

.inputs-container label {
    position: absolute;
    top: 1rem;
    left: 0.7rem;

    opacity: 0.6;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.2s;
    user-select: none;
}

.inputs-container input {
    box-sizing: border-box;
    width: 100%;
    max-width: 300px;
    padding: 15px 10px;
    border: 1px solid var(--default-input);
    border-radius: 5px;
    background: var(--banner-bg);
    color: inherit;
    font-family: inherit;
}

/* Form validation */
/* Label */
.inputs-container input:focus + label,
.inputs-container input:not(:placeholder-shown) + label {
    opacity: 1;
    top: -0.5rem;
    font-size: 0.9rem;
    background-color: var(--banner-bg);
    padding: 0 2px;
}

.inputs-container input.required:invalid + label,
.inputs-container input.noMatch + label {
    color: var(--error-input);
}

/* Border */
.inputs-container input:not(:placeholder-shown):valid {
    border-color: var(--valid-input);
}

.inputs-container input:focus {
    box-shadow: var(--shadow);
    border: solid 1px var(--focus-input);
    outline: none;
}

.inputs-container input.required:invalid,
.inputs-container input.noMatch:valid {
    border: solid 1px var(--error-input);
}

/* Placeholder */
.inputs-container input::placeholder {
    opacity: 0;
}

.inputs-container input:focus::placeholder {
    opacity: 1;
    color: var(--placeholder-color);
}

/* Error message */
.inputs-container input ~ span {
    margin-top: 3px;
    display: none;
    font-size: 0.8rem;
    color: var(--error-input);
}

.inputs-container input.required:invalid ~ span,
.inputs-container input.noMatch ~ span{
    display: block;
}

/* Action button */
form button {
    margin: 25px 0;
    padding: 13px 50px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    font-family: inherit;
    color: white;
    background-color: var(--accent);
    border: 2px solid var(--accent);
}

/* Theme button */
.toggle-theme {
    position: absolute;
    top: 10px;
    margin-left: 10px;
    content: "dark";
    background-color: var(--accent);
    border: 2px solid var(--accent);
    color: var(--theme-color);
    padding: 10px 15px;
    border-radius: 5px;
}

form button:hover,
.toggle-theme:hover {
    border: 2px solid var(--font-color);
    box-shadow: var(--shadow);
}
