body {
    background-color: salmon;
    font-family: sans-serif;
}

button {
    background-color: white;
    font-size: 20px;
    padding: 5px 10px;
    border: solid black 2px;
    border-radius: 5px;
    cursor: pointer;
}

button:active {
    transform: translateY(2px);
}

h2 {
    margin-bottom: 0;
    font-size: 30px;
}

dialog {
    font-size: 25px;
}

dialog p {
    margin-top: 0;
}

.container {
    margin: 0 auto;
    width: fit-content;
}

.board {
    --gap: 2px;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    background-color: #ccc;
    border: solid black 3px;
}

.row {
    display: flex;
    gap: var(--gap);
}

#enemyBoard .cell {
    cursor: pointer;
}

.cell {
    height: 50px;
    width: 50px;
    background-color: white;
}

.ship {
    background-color: #e5e5ff;
    outline: solid blue 2px;
}

/* Hit colors */
.hit {
    position: relative;
}

#enemyBoard .ship {
    background-color: white;
    outline-color: transparent;
}


.ship.sunk,
#enemyBoard .ship.sunk {
    background-color: #ffe5e5;
    outline-color: red;
}

/* Draw hit dot */
.hit::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 25%;
    width: 25%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background-color: black;
}

/* Draw hit X */
.ship.hit {
    position: relative;
}

.ship.hit::before,
.ship.hit::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 141%;
    transform: translate(-50%, -50%) rotate(45deg);
    border-radius: 0;
    background-color: red;
}

.ship.hit::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}


/* board cover */
#enemyBoard {
    position: relative;
}

.cover {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
    height: 100%;
    width: 100%;
    cursor: not-allowed;
    z-index: 1;
}

.cover.active {
    display: initial;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 10px;
}
