html {
  font-family: sans-serif;
}

body {
  max-width: 900px;
  margin: 0 auto;
}

p {
  margin: 0;
}

svg {
  width: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

#filesHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#filesHeader h1 {
  margin: 0;
}

#folderButtons {
  justify-self: end;
}

.row {
  display: grid;
  grid-template-columns: 5fr 1fr 0.8fr 0.8fr;
  gap: 10px;
  align-items: center;
}

.row:not(:first-child) {
  border-top: 1px solid black;
}

.row:not(:first-child):hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.row:first-child p {
  padding: 10px 0;
}

.row a {
  display: flex;
  padding: 15px;
  overflow: hidden;
}

.row a span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 15px;
}

.buttons button {
  display: inline-flex;
  align-items: center;
  padding: 5px;
  margin-right: 5px;
  border: 1px solid black;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  font-size: 16px;
}

.buttons button:last-child {
  margin-right: 0;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  font-size: 28px;
  font-weight: bold;
}

nav a {
  text-decoration: underline;
}

#fileDetails>p>span {
  font-weight: bold;
}

#fileDetails p {
  margin: 8px 0;
}

#fileDetails p:first-child {
  font-size: 20px;
}

#fileDetails a {
  text-decoration: underline;
}

form label {
  display: block;
  font-weight: bold;
  font-size: 18px;
}

form input {
  font-size: inherit;
  padding: 3px 5px;
}

form section {
  margin-top: 15px;
}

form section:first-of-type {
  margin-top: 0;
}

form .buttons button {
  font-size: 18px;
}

form .buttons {
  float: right;
}

form section p {
  font-size: 14px;
  color: #757575;
}

input[type="file"] {
  max-width: 500px;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
