.marker {
  position: absolute;
}

.marker::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset: 15px;

  background-color: #3c3c3c;
  box-shadow: #3c3c3c 0 0 10px 10px;
  opacity: 80%;
}
