.game {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  /* height: 200vh; */
}

.space {
  height: 200px;
  background-color: black;
}

.mapContainer {
  position: relative;
  line-height: 0;
}

.loader {
  position: absolute;
  z-index: 100;
  transform: translate(-50%, -50%);
}
