.header {
  position: sticky;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  top: 0;
  user-select: none;
  z-index: 1;
}

.container {
  display: flex;
  align-items: stretch;
  gap: 5px;
}

.entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  padding-top: 0;

  font-weight: bold;
  font-size: 24px;
  border: black solid 2px;
  border-radius: 5px;
  position: relative;

  background: white;

  p {
    padding: 0 3px;
  }

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  text-align: center;
}

.grayscale {
  filter: grayscale();
}

.wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;

  img {
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
}

.cross {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: red;
    top: 50%;
    left: 0;
    transform-origin: center;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
