<html>

<head>
    <title>Homepage</title>
</head>

<body>
    <%- include('navbar') %>
    <ul>
        <% users.forEach((user) => { %>
        <%- include('users/user', {user: user}); %>
        <% }); %>
    </ul>
    <%- include("footer") %>
</body>

</html>
