<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <style>
        .card-image {
            display: inline-block;
            width: 200px;
            height: 300px;
            background-size: cover, cover;
        }

        img {
            width: 200px;
            height: 300px;
            background-size: cover;
        }
    </style>
</head>

<body>
    <%- include("./nav") %>
