<nav>
    <a href="/books">Books</a>
    <p>Genres:</p>
    <ul>
        <li><a href="/genre/Fantasy">Fantasy</a></li>
        <li><a href="/genre/Science Fiction">Science Fiction</a></li>
        <li><a href="/genre/Mystery">Mystery</a></li>
        <li><a href="/genre/Horror">Horror</a></li>
        <li><a href="/genre/Historical Fiction">Historical Fiction</a></li>
        <li><a href="/genre/Romance">Romance</a></li>
    </ul>

    <a href="/authors">Authors</a>
</nav>
