* {
    padding: 0;
    margin: 0;
}

:root {
    --blue: #1992d4;
    --yellow: #f0b429;
    --foreground: #fff;
    --background: #e2e8f0;
    --grey: #666;
}

img {
    width: 30px;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
    font-family: "Roboto";
}

nav {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background-color: var(--blue);
    color: white;

    display: grid;
    align-content: start;
    grid-gap: 70px;

    padding: 20px;
    z-index: 2;
}

nav h1 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 35px;
}

nav>h1>img {
    width: 60px;
}

nav li a {
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight: bold;
    margin: 0 0 30px 15px;
    font-size: 25px;
}

nav li>img {
    width: 30px;
}

header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background-color: var(--foreground);

    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 40px;
    padding: 0 80px 0 60px;
    box-shadow: #cdd2d9 0 5px 5px;
    z-index: 1;
}

header .search-bar {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

header #search-bar {
    background-color: var(--background);
    width: 100%;
    padding: 9px 13px;
    margin-left: 15px;
    border: none;
    border-radius: 40px;
    font-size: 20px;
}

header .notifications {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 35px;

    font-weight: bold;
    font-size: 25px;
}

header .notifications img {
    height: 40px;
}

header #notifications-pfp {
    border-radius: 100%;
    width: 60px;
    height: 60px;
}

header .profile {
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight: bold;
}

header .profile img {
    width: 95px;
    height: 95px;
    border-radius: 100%;
}

header #profile-name {
    margin-top: 5px;
    font-size: 35px;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    padding: 10px 20px;
    height: 30px;
    width: 85px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 25px;
}

main {
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 3fr 1fr;
    grid-gap: 30px;
    padding: 35px 25px;
    background-color: var(--background);
}

main h2 {
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 15px;
}

main .projects {
    grid-row: 1 / 3;
}

main .projects>div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 33px;
}

main .projects article {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 35px 25px;
    border-left: solid 10px var(--yellow);
}

main .projects article h3 {
    font-size: 25px;
    font-weight: 600;
}

main .projects article p {
    font-size: 20px;
    color: #666;
}

main .projects .entry-actions {
    flex: 1;
    display: flex;
    margin-right: 15px;
    justify-content: flex-end;
    align-items: end;
    gap: 20px;
}

main .projects .entry-actions img {
    height: 30px;
}

main .card {
    padding: 0px 30px;
    background-color: var(--foreground);
    border-radius: 10px;
    box-shadow: #cdd2d9 0 5px 5px;
}

main .announcements article {
    padding: 25px 6px;
    border-top: solid 1px #ccc;
}

main .announcements article:first-child {
    border: none;
}

main .announcements article p {
    color: #666;
}

main .trending>div {
    padding-top: 25px;
}

main .trending article {
    display: flex;
    padding-bottom: 25px;
    align-items: center;
    gap: 15px;
}

main .trending img {
    border-radius: 100%;
    width: 60px;
    height: 60px;
}

main .trending article p:nth-child(2) {
    color: #666;
}
