:root {
    --main-color: #3993d6;
    --background: #e3e8f0;
    --card-bg: white;
    --accent-color: #eab304;
    --font-color: black;
    --nav-color: white;
    --shadow: #ccc 0 5px 8px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: var(--background);
    font-family: 'Roboto', sans-serif;
}

/* Navbar */
nav {
    grid-row: 1 / 3;
    display: grid;
    gap: 50px;
    padding: 15px;
    background-color: var(--main-color);
    color: var(--nav-color);
    font-weight: 500;
}

nav .logo {
    font-weight: 700;
    font-size: 2rem;
}

nav menu {
    list-style-type: none;
    font-size: 1.3rem;
}

nav menu li {
    padding: 5px 0;
}

nav a {
    color: inherit;
    text-decoration: none;
}


/* Header */
header {
    grid-column: 2 / 4;
    margin-bottom: 30px;
}


/* Main */
main {
    padding: 0 15px;
}

main .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

main .container article {
    min-height: 100px;
    padding: 15px 15px;
    border-radius: 7px;
    border-left: solid 7px var(--accent-color);
    background-color: var(--card-bg);
    box-shadow: var(--shadow);
}

/* Sidebar */
.sidebar {
    margin-right: 15px;
}

.sidebar .container {
    background-color: var(--card-bg);
    padding: 20px;
    border-radius: 10px;
}
