body {
  margin: 0;
  padding: 0;
  background-color: var(--light);
  font-family: sans-serif;
}

:global(#root) {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

:root {
  --light: #f3f4f6;
  --dark: #1f2937;
  --off-white: #fafbfd;
  --blue: #2563eb;
  --white: white;
  --size: 1200px;
}

.list {
  margin: 0;
  padding: 0;
}

.list li {
  list-style: none;
}

.list a {
  text-decoration: none;
  color: inherit;
}
