extends layout

block content
  main#form
    h1= title
    form(method="post") 
      section
        label(for="code") Enter the passcode:
        input#code(type="text", name="code")
        if errors
          label.error(for="code")= errors.code.msg
      button Join
