extends layout

block content
  h1= title
  form(method="post") 
    label(for="code") Enter the passcode:
    if errors
      label(for="code")= errors.code.msg
    input#code(type="text", name="code")
    button Join
