form(action="/file", method="post", enctype="multipart/form-data") 
  if error
    each error in errors 
      p= error
  label(for="file") Choose file to upload
  input(type="file" id="file" name="file")
  p File size must be 10 MB or less.
  input(type="hidden", name="folderId", value=folder.id)
  button Submit
