form(action=`/folder/create/${folder.id || ""}`, method="post", ) 
  if errors
    each error in errors 
      p= error
  label(for="name") Folder name:
  input(type="text" id="name" name="name")
  button Submit
