form(action="", method="post", ) 
  section
    label(for="newName") New folder name:
    input(type="text" id="newName" name="name" required)

  section.buttons
    button(type="reset") Cancel
    button Save
