form(action=`/folder/create/${folder.id || ""}`, method="post", ) 
  section 
    label(for="name") Folder name:
    input(type="text" id="name" name="name" required)

  section.buttons
    button(type="reset") Cancel
    button Submit
